<div class="px-8"style="height: 100" id="content">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple [label]="canShowSalesRecord ? 'Back to Shop' : 'View Sales'"  class="p-button-outlined"
             (click)="toggleTable()"></button>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" (click)="download()" class="p-button-help" *ngIf="canShowSalesRecord"></button>
        </ng-template>
    </p-toolbar>
    <div class="content table-container">
        <p-dataView @fadeIn #dv [value]="products" [rows]="7" [paginator]="true" class="px-8" *ngIf="!canShowSalesRecord">
            <ng-template let-product pTemplate="listItem">
                <div class="col-12">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                            [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                            [alt]="product.name" />
                        <div
                            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                                <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-tag"></i>
                                        <span class="font-semibold">{{ product.category }}</span>
                                    </span>
                                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                                </div>
                            </div>
                            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                <span class="text-2xl font-semibold">{{ product.price | currency: 'NGN' }}</span>
                                <button pButton icon="pi pi-shopping-cart" (click)="gotoDetail(product.id)" class="md:align-self-end mb-2 p-button-rounded"
                                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK' || product.quantity < 1"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>

        <p-table #dt [value]="sales" [rows]="10" [paginator]="true"
            [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" *ngIf="canShowSalesRecord">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Sales</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">Item Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="price">Amount <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="category">Quantity </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
                <tr>
                    <td>{{getItemName(sale.productId)}}</td>
                    <td>{{sale.amount }}</td>
                    <td>{{ sale.quantity }}</td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{sales ? sales.length : 0 }} sales.
                </div>
            </ng-template>
        </p-table>


    </div>
</div>