<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
        <li>
            <a class="text-500 no-underline line-height-3 text-primary cursor-pointer" routerLink="/sales">Manage Sales</a>
        </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span class="text-900 line-height-3">Detail</span>
        </li>
    </ul>

    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
        <div>
            <div class="font-medium text-3xl text-900">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                    [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" />
            </div>
            <div class="flex align-items-center text-700 flex-wrap">
                <div class="mr-5 flex align-items-center mt-3">
                    <span>{{product.price | currency: 'NGN'}} </span>
                </div>
                <div class="mr-5 flex align-items-center mt-3">
                    <span><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating></span>
                </div>
            </div>
            <div class="px-4 py-5 mt-4  shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
                
                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                    <p-inputNumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                        spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                        [min]="1"></p-inputNumber> <p-button icon="pi pi-shopping-cart" styleClass="p-button-success ml-3" (click)="buy()" [disabled]="totalQuantity < quantity"></p-button>
                    
                </div>
            </div>
        </div>
        <div class="col-10 xl:col-6">
            <div class="card">
                <h5>Sales Overview</h5>
            </div>
        
            <div class="card">
                <span class="block text-600 font-medium mb-3">{{ product.name}}</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div
                            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class=" text-xl text-blue-700"></i>
                        </div>
                        <span class="text-900 line-height-3">{{product.description}}</span>
                        
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div
                            class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class=" text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">{{product.category}}</span>
                    </li>
                </ul>
            </div>
        
        
        </div>
    </div>
</div>